openapi: 3.0.1
info:
  title: PushAPI Configuration API
  version: 1.0.0
servers:
- url: https://hq1.appsflyer.com/api/pushapi/v1.0/
security:
  - Bearer-Authentication: []
paths:
  /fields/{platform}:
    get:
      tags:
        - Message Fields
      summary: Retrive per platform
      description: Returns a list of the available Message Fields(string[s]) for each platform
      parameters:
      - name: platform
        in: path
        description: The platform related to this configuration 
        example: "ios"
        required: true
        schema:
          type: string
          enum:
            - android
            - ios
            - windowsphone
      
      responses:
        200:
          description: | 
            Fields successfully retrieved.
          headers:
            deprecated:
              description: is the api version deprecated 
              schema:
                type: boolean
            deprecationDate:
              description: deprecation date
              schema:
                type: string
            sunsetDate:
              description: sunset date
              schema:
                type: string
            deprecationMessage:
              description: deprecation message
              schema:
                type: string
          content:
            application/json:
              example: [advertising_id, app_id]
              schema:
                type: array
                items:
                  type: string
        400:
          description: |
            Incorrect platform type specified. Enter a valid platform type.

            Code:InvalidPlatform
          headers:
            deprecated:
              description: is the api version deprecated 
              schema:
                type: boolean
            deprecationDate:
              description: deprecation date
              schema:
                type: string
            sunsetDate:
              description: sunset date
              schema:
                type: string
            deprecationMessage:
              description: deprecation message
              schema:
                type: string
          content:
            application/json:
                schema:
                  $ref: '#/components/schemas/Error' 
                example: {
                            "headers": {
                              "deprecated": false,
                              "deprecationDate": null,
                              "sunsetDate": null,
                              "deprecationMessage": null
                            },
                            "body": {
                              "error": {
                                "status": 400,
                                "code": "InvalidPlatform",
                                "message": "Incorrect platform type specified. Enter a valid platform type.",
                                "resource": "/validate-url",
                                "requestId": "8a3f4fa6-a91c-11ec-b909-0242ac120002"
                              }
                            }
                          }
        401:
          $ref: '#/components/responses/AuthenticationFailed'
        403:
          $ref: '#/components/responses/AccountProblem'

  /event-type/{endpoint-type}:
    get:
      tags:
        - Event Types 
      summary: Retrive per endpoint-type
      description: Returns a list of the available event types for the specified endpoint type
      parameters:
      - name: endpoint-type
        in: path
        description: The endpoint type
        example: "regular"
        required: true
        schema:
          type: string
          enum:
            - regular
            - skadnetwork
      responses:
        200:
          description: | 
            Event types successfully retrieved.
            List of possiblly returned event type:
            - regular: ["Install-in-app-events-organic", "install", "install-organic", "re-engagement", 
            "re-attribution", "reinstall", "reinstall-organic", "install-in-app-events", 
            "re-engagement-in-app-events", "re-attribution-in-app-events" ]
            - skadnetwork: ["in-app-event", "re-download", "Install", "Postbacks-copy", "postback"]
          content:
            application/json:
              schema:
                example: ["in-app-event", "re-download", "Install", "Postbacks-copy", "postback"]
                type: array
                items:
                  type: string
        400:
          description: |
           Incorrect endpoint-type type specified. Enter a valid endpoint-type. 
           
           Code: InvalidEndpointType
          headers:
            deprecated:
              description: is the api version deprecated? 
              schema:
                type: boolean
            deprecationDate:
              description: deprecation date
              schema:
                type: string
            sunsetDate:
              description: sunset date
              schema:
                type: string
            deprecationMessage:
              description: deprecation message
              schema:
                type: string
          content:
            application/json:
                schema:
                  $ref: '#/components/schemas/Error' 
        401:
          $ref: '#/components/responses/AuthenticationFailed'
        501:
          $ref: '#/components/responses/NotImplemented'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        504:
          $ref: '#/components/responses/GatewayTimeout' 

  /validate-url:
    post:
      tags:
        - URL Validation
      summary: Validate URL
      description: Validates and tests URL to be used as a Push API endpoint
      requestBody:
        description: Body for validate url
        content:
          application/json:
            schema:
              required:
                - url
                - method
              type: object
              properties:
                url:
                  minLength: 5
                  maxLength: 2048
                  example: http://some.url.com:40/dir
                  

      responses:
        200:
          description: URL validated successfully
          headers:
            deprecated:
              description: is the api version deprecated? 
              schema:
                type: boolean
            deprecationDate:
              description: deprecation date
              schema:
                type: string
            sunsetDate:
              description: sunset date
              schema:
                type: string
            deprecationMessage:
              description: deprecation message
              schema:
                type: string
          content:
            application/json:
                schema:
                  $ref: '#/components/schemas/URLTestResponse' 
                  
        207: 
          description: Request to test URL returned an error
          headers:
            deprecated:
              description: is the api version deprecated? 
              schema:
                type: boolean
            deprecationDate:
              description: deprecation date
              schema:
                type: string
            sunsetDate:
              description: sunset date
              schema:
                type: string
            deprecationMessage:
              description: deprecation message
              schema:
                type: string
          content:
            application/json:
                schema:
                  $ref: '#/components/schemas/URLTestResponse'
        422:
          description: |
            Your specified URL endpoint doesn't have a valid format.
            
            Code: InvalidURL
          content:
            application/json:
                schema:
                  $ref: '#/components/schemas/Error' 
        401:
          $ref: '#/components/responses/AuthenticationFailed'
        429:
          $ref: '#/components/responses/RateLimited'
        501:
          $ref: '#/components/responses/NotImplemented'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        504:
          $ref: '#/components/responses/GatewayTimeout'

  /app/{app-id}:
    put:
      tags:
        - Manage Push API configuration
      summary: Update Push API configuration 
      parameters:
      - name: app-id
        in: path
        description: Application ID
        example: "id121244"
        required: true
        schema:
          type: string
      requestBody:
        description: Body for validate url
        content:
          application/json:
            schema:
              type: object
              properties:
                endpoints:
                  type: array
                  items:
                    anyOf:
                      - $ref: '#/components/schemas/RegularAndroidConfig'
                      - $ref: '#/components/schemas/RegularIosConfig'
                      - $ref: '#/components/schemas/SkadConfig' 
      x-readme: 
        explorer-enabled: false

      responses:
        200:
          description: URL validated successfully
          content: {}
        400:
          description: Invalid JSON format or no JSON found. Verify the content and resubmit.
          content:
            application/json:
                schema:
                  $ref: '#/components/schemas/Error' 
        401:
          $ref: '#/components/responses/AuthenticationFailed'
        403:
          description: |
            The app ID specified wasn't found. Check that the app ID is identical to that in AppsFlyer in your account.

            Code: UnknownAppid
          content:
            application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        402:
          description: |
            The specified message type ({event-type} isn't part of your subscripton. Contact AppsFlyer support or your AppsFlyer account executive.

            Code: MissingAsset
          content:
            application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        501:
          $ref: '#/components/responses/NotImplemented'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        504:
          $ref: '#/components/responses/GatewayTimeout' 
    get:
      tags:
        - Manage Push API configuration
      summary: Get Push API configuration 
      parameters:
      - name: app-id
        in: path
        description: Application ID
        example: "id121244"
        required: true
        schema:
          type: string
      
      responses:
        200:
          description: URL validated successfully
          content: {}
        400:
          description: Invalid JSON format or no JSON found. Verify the content and resubmit.
          content:
            application/json:
                schema:
                  $ref: '#/components/schemas/Error' 
        401:
          $ref: '#/components/responses/AuthenticationFailed'
        403:
          description: |
            The app ID specified wasn't found. Check that the app ID is identical to that in AppsFlyer in your account.

            Code: UnknownAppid
          content:
            application/json:
                schema:
                  $ref: '#/components/schemas/Error'
        501:
          $ref: '#/components/responses/NotImplemented'
        503:
          $ref: '#/components/responses/ServiceUnavailable'
        504:
          $ref: '#/components/responses/GatewayTimeout'
components:
  responses:  
    Success:
      description: Request successful.
      headers:
        deprecated:
          description: is the api version deprecated 
          schema:
            type: boolean
        deprecationDate:
          description: deprecation date
          schema:
            type: string
        sunsetDate:
          description: sunset date
          schema:
            type: string
        deprecationMessage:
          description: deprecation message
          schema:
            type: string
      content: {}
    BadRequest:
      description: Bad Request. The request message is not valid.
      headers:
        deprecated:
          description: is the api version deprecated 
          schema:
            type: boolean
        deprecationDate:
          description: deprecation date
          schema:
            type: string
        sunsetDate:
          description: sunset date
          schema:
            type: string
        deprecationMessage:
          description: deprecation message
          schema:
            type: string
      content:
        application/json:
            schema:
              $ref: '#/components/schemas/Error' 
            example: {
              message: "Bad Request"
            }
    AuthenticationFailed:
      description: Authentication failed. The authentication token is not valid.
      headers:
        deprecated:
          description: is the api version deprecated 
          schema:
            type: boolean
        deprecationDate:
          description: deprecation date
          schema:
            type: string
        sunsetDate:
          description: sunset date
          schema:
            type: string
        deprecationMessage:
          description: deprecation message
          schema:
            type: string
      content:
        application/json:
            schema:
              $ref: '#/components/schemas/Error' 
    RateLimited:
      description: Authentication failed. The authentication token is not valid.
      headers:
        deprecated:
          description: is the api version deprecated 
          schema:
            type: boolean
        deprecationDate:
          description: deprecation date
          schema:
            type: string
        sunsetDate:
          description: sunset date
          schema:
            type: string
        deprecationMessage:
          description: deprecation message
          schema:
            type: string
      content:
        application/json:
            schema:
              $ref: '#/components/schemas/Error' 
    AccountProblem:
      description: An account problem ocurred. Please contact your AppsFlyer account executive.
      headers:
        deprecated:
          description: is the api version deprecated 
          schema:
            type: boolean
        deprecationDate:
          description: deprecation date
          schema:
            type: string
        sunsetDate:
          description: sunset date
          schema:
            type: string
        deprecationMessage:
          description: deprecation message
          schema:
            type: string
      content:
        application/json:
            schema:
              $ref: '#/components/schemas/Error' 
    WrongApiVersion:
      description: Wrong API version.
      headers:
        deprecated:
          description: is the api version deprecated 
          schema:
            type: boolean
        deprecationDate:
          description: deprecation date
          schema:
            type: string
        sunsetDate:
          description: sunset date
          schema:
            type: string
        deprecationMessage:
          description: deprecation message
          schema:
            type: string
      content:
        application/json:
            schema:
              $ref: '#/components/schemas/Error' 
            example: {
              message: "Wrong API version"
            }
    NotAuthorized:
      description: Not authorized for Push API.
      headers:
        deprecated:
          description: is the api version deprecated 
          schema:
            type: boolean
        deprecationDate:
          description: deprecation date
          schema:
            type: string
        sunsetDate:
          description: sunset date
          schema:
            type: string
        deprecationMessage:
          description: deprecation message
          schema:
            type: string
      content:
        application/json:
            schema:
              $ref: '#/components/schemas/Error' 
            example: {
              message: "Not authorized for Push API"
            }
    AppNotFound:
      description: Application ID not found.
      headers:
        deprecated:
          description: is the api version deprecated 
          schema:
            type: boolean
        deprecationDate:
          description: deprecation date
          schema:
            type: string
        sunsetDate:
          description: sunset date
          schema:
            type: string
        deprecationMessage:
          description: deprecation message
          schema:
            type: string
      content:
        application/json:
            schema:
              $ref: '#/components/schemas/Error' 
            example: {
              message: "Application ID not found"
            }
    NotImplemented:
      description: Not implmented.
      headers:
        deprecated:
          description: is the api version deprecated 
          schema:
            type: boolean
        deprecationDate:
          description: deprecation date
          schema:
            type: string
        sunsetDate:
          description: sunset date
          schema:
            type: string
        deprecationMessage:
          description: deprecation message
          schema:
            type: string 
      content: 
        application/json:
            schema:
              $ref: '#/components/schemas/Error' 
            example: {
              message: "Not implmented"
            }
    ServiceUnavailable:
      description: Service Unavailable. ELB (Amazon Load-balancer) service unavailable.
      headers:
        deprecated:
          description: is the api version deprecated 
          schema:
            type: boolean
        deprecationDate:
          description: deprecation date
          schema:
            type: string
        sunsetDate:
          description: sunset date
          schema:
            type: string
        deprecationMessage:
          description: deprecation message
          schema:
            type: string
      content:
        application/json:
            schema:
              $ref: '#/components/schemas/Error' 
            example: {
              message: "Service unavailable"
            }
    GatewayTimeout:
      description: Gateway Timeout. ELB (Amazon Load-balancer) service unavailable.
      headers:
        deprecated:
          description: is the api version deprecated 
          schema:
            type: boolean
        deprecationDate:
          description: deprecation date
          schema:
            type: string
        sunsetDate:
          description: sunset date
          schema:
            type: string
        deprecationMessage:
          description: deprecation message
          schema:
            type: string
      content: 
        application/json:
            schema:
              $ref: '#/components/schemas/Error' 
            example: {
              message: "Gateway timeout"
            }
  securitySchemes:
    Bearer-Authentication:
      type: http
      scheme: bearer
      description: "Authorization HTTP header containing API V2.0 token (Bearer token) is required.\n\n
        The admin [gets the V2 token in the dashboard](https://support.appsflyer.com/hc/en-us/articles/360004562377), go to your email address"
  schemas:
    URLTestResponse:
      type: object
      properties:
        testedEndpointURLHTTPResponse:
          type: integer
      example: {testedEndpointURLHTTPResponse: 404}
    # Schema for error response body
    Error:
      example: {
                  "headers": {
                    "deprecated": false,
                    "deprecationDate": null,
                    "sunsetDate": null,
                    "deprecationMessage": null
                  },
                  "body": {
                    "error": {
                      "status": 400,
                      "code": "SomeErrorCode",
                      "message": "Some error message.",
                      "resource": "/example-resource",
                      "requestId": "8a3f4fa6-a91c-11ec-b909-0242ac120002"
                    }
                  }
                }
      type: object
      properties:
        status:
          type: integer
        code:
          type: string
        message:
          type: string
        resource:
          type: string
        requestId:
          type: string
    Url:
      type: string
      minLength: 5
      maxLength: 2048
      example: http://some.url.com:40/dir
    Method:
      type: string
      enum:
        - GET
        - POST
    RegularIosConfig:
      title: Regular iOS Config
      type: object
      required:
        - url
        - method
        - integration_type 
        - event_types 
        - enabled 
      properties:
        method: 
          $ref: '#/components/schemas/Method'
        url:
          $ref: '#/components/schemas/Url'
        event_types:
          type: array
          items:
            enum:
              - "install-in-app-events-organic"
              - "install"                      
              - "install-organic"              
              - "re-engagement"                
              - "re-attribution"               
              - "reinstall"                    
              - "reinstall-organic"            
              - "install-in-app-events"        
              - "re-engagement-in-app-events"  
              - "re-attribution-in-app-events"
        selected_fields:
          oneOf:
            - type: string
              enum:
                - all
              title: All fields
            - type: string
              enum:
                - defualt
              title: Default fields
            - type: array
              title: Select fields
              items:
                enum:
                  - api_version
                  - af_c_id
                  - campaign
                  - af_adset_id
                  - af_adset
                  - af_ad_id
                  - af_ad
                  - af_ad_type
                  - af_channel
                  - af_cost_currency
                  - af_cost_model
                  - af_cost_value
                  - af_keywords
                  - af_attribution_lookback
                  - af_prt
                  - af_reengagement_window
                  - af_siteid
                  - af_sub_siteid
                  - af_sub1
                  - af_sub2
                  - af_sub3
                  - af_sub4
                  - af_sub5
                  - is_retargeting
                  - media_source
                  - original_url
                  - user_agent
                  - advertising_id
                  - android_id
                  - amazon_aid
                  - app_id
                  - app_name
                  - app_version
                  - appsflyer_id
                  - bundle_id
                  - carrier
                  - country_code
                  - custom_data
                  - customer_user_id
                  - device_category
                  - device_type
                  - device_model
                  - event_name
                  - event_revenue
                  - event_revenue_currency
                  - event_time
                  - event_value
                  - idfa
                  - idfv
                  - imei
                  - install_app_store
                  - install_time
                  - ip
                  - language
                  - operator
                  - os_version
                  - platform
                  - sdk_version
                  - wifi
                  - gp_broadcast_referrer
                  - city
                  - attributed_touch_time
                  - attributed_touch_type
                  - contributor_1_af_prt
                  - contributor_1_campaign
                  - contributor_1_match_type
                  - contributor_1_media_source
                  - contributor_1_touch_time
                  - contributor_1_touch_type
                  - contributor_2_af_prt
                  - contributor_2_campaign
                  - contributor_2_match_type
                  - contributor_2_media_source
                  - contributor_2_touch_time
                  - contributor_2_touch_type
                  - contributor_3_af_prt
                  - contributor_3_campaign
                  - contributor_3_match_type
                  - contributor_3_media_source
                  - contributor_3_touch_time
                  - contributor_3_touch_type
                  - dma
                  - event_revenue_usd
                  - event_source
                  - http_referrer
                  - is_primary_attribution
                  - is_receipt_validated
                  - match_type
                  - postal_code
                  - region
                  - retargeting_conversion_type
                  - state
                  - network_account_id
                  - gp_click_time
                  - gp_install_begin
                  - gp_referrer
                  - keyword_match_type
                  - selected_currency
                  - revenue_in_selected_currency
                  - cost_in_selected_currency
                  - attributed_touch_time_selected_timezone
                  - install_time_selected_timezone
                  - event_time_selected_timezone
                  - selected_timezone
                  - deeplink_url
                  - oaid
                  - keyword_id
                  - store_reinstall
                  - is_lat
                  - device_download_time
                  - device_download_time_selected_timezone
                  - conversion_type
                  - custom_dimension
                  - campaign_type
        selected_inapps:
          type: array
          items:
            oneOf:
              - type: string
                enum:
                - all
                title: All fields
              - type: array
                title: Select fields
                items:
                  type: string
                maxLength: 100
        disabled:
          type: boolean
        integration_type:
          type: string
          enum:
            - regular
          default: regular
    RegularAndroidConfig:
      title: Regular Android Config
      type: object
      required:
        - url
        - method
        - integration_type 
        - event_types 
        - enabled 
      properties:
        method: 
          $ref: '#/components/schemas/Method'
        url:
          $ref: '#/components/schemas/Url'
        event_types:
          type: array
          items:
            enum:
              - "install-in-app-events-organic"
              - "install"                      
              - "install-organic"              
              - "re-engagement"                
              - "re-attribution"               
              - "reinstall"                    
              - "reinstall-organic"            
              - "install-in-app-events"        
              - "re-engagement-in-app-events"  
              - "re-attribution-in-app-events"
        selected_fields:
          oneOf:
            - type: string
              enum:
                - all
              title: All fields
            - type: string
              enum:
                - defualt
              title: Default fields
            - type: array
              title: Select fields
              items:
                enum:
                  - api_version
                  - af_c_id
                  - campaign
                  - af_adset_id
                  - af_adset
                  - af_ad_id
                  - af_ad
                  - af_ad_type
                  - af_channel
                  - af_cost_currency
                  - af_cost_model
                  - af_cost_value
                  - af_keywords
                  - af_attribution_lookback
                  - af_prt
                  - af_reengagement_window
                  - af_siteid
                  - af_sub_siteid
                  - af_sub1
                  - af_sub2
                  - af_sub3
                  - af_sub4
                  - af_sub5
                  - is_retargeting
                  - media_source
                  - original_url
                  - user_agent
                  - advertising_id
                  - android_id
                  - amazon_aid
                  - app_id
                  - app_name
                  - app_version
                  - appsflyer_id
                  - bundle_id
                  - carrier
                  - country_code
                  - custom_data
                  - customer_user_id
                  - device_category
                  - device_type
                  - device_model
                  - event_name
                  - event_revenue
                  - event_revenue_currency
                  - event_time
                  - event_value
                  - idfa
                  - idfv
                  - imei
                  - install_app_store
                  - install_time
                  - ip
                  - language
                  - operator
                  - os_version
                  - platform
                  - sdk_version
                  - wifi
                  - gp_broadcast_referrer
                  - city
                  - attributed_touch_time
                  - attributed_touch_type
                  - contributor_1_af_prt
                  - contributor_1_campaign
                  - contributor_1_match_type
                  - contributor_1_media_source
                  - contributor_1_touch_time
                  - contributor_1_touch_type
                  - contributor_2_af_prt
                  - contributor_2_campaign
                  - contributor_2_match_type
                  - contributor_2_media_source
                  - contributor_2_touch_time
                  - contributor_2_touch_type
                  - contributor_3_af_prt
                  - contributor_3_campaign
                  - contributor_3_match_type
                  - contributor_3_media_source
                  - contributor_3_touch_time
                  - contributor_3_touch_type
                  - dma
                  - event_revenue_usd
                  - event_source
                  - http_referrer
                  - is_primary_attribution
                  - is_receipt_validated
                  - match_type
                  - postal_code
                  - region
                  - retargeting_conversion_type
                  - state
                  - network_account_id
                  - gp_click_time
                  - gp_install_begin
                  - gp_referrer
                  - keyword_match_type
                  - selected_currency
                  - revenue_in_selected_currency
                  - cost_in_selected_currency
                  - attributed_touch_time_selected_timezone
                  - install_time_selected_timezone
                  - event_time_selected_timezone
                  - selected_timezone
                  - deeplink_url
                  - oaid
                  - keyword_id
                  - store_reinstall
                  - is_lat
                  - device_download_time
                  - device_download_time_selected_timezone
                  - conversion_type
                  - custom_dimension
                  - campaign_type
        selected_inapps:
          oneOf:
            - type: string
              enum:
                - all
              title: All fields
            - type: array
              title: Select fields
              items:
                type: string
        enabled:
          type: boolean
        integration_type:
          type: string
          enum:
            - regular
          default: regular
    SkadConfig:
      title: SKADnetwork iOS Config
      type: object
      required:
        - url
        - method
        - integration_type 
        - event_types
        - enabled 
      properties:
        method: 
          $ref: '#/components/schemas/Method'
        url:
          $ref: '#/components/schemas/Url'
        event_types:
          type: array
          items:
            enum:
              - install
              - re-download
              - in-app-event
              - postback
              - postbacks-copy
        selected_fields:
          oneOf:
            - type: string
              enum:
                - all
              title: All fields
            - type: string
              enum:
                - defualt
              title: Default fields
            - type: array
              title: Select fields
              items:
                enum:
                  - api_version
                  - af_c_id
                  - campaign
                  - af_adset_id
                  - af_adset
                  - af_ad_id
                  - af_ad
                  - af_ad_type
                  - af_channel
                  - af_cost_currency
                  - af_cost_model
                  - af_cost_value
                  - af_keywords
                  - af_attribution_lookback
                  - af_prt
                  - af_reengagement_window
                  - af_siteid
                  - af_sub_siteid
                  - af_sub1
                  - af_sub2
                  - af_sub3
                  - af_sub4
                  - af_sub5
                  - is_retargeting
                  - media_source
                  - original_url
                  - user_agent
                  - advertising_id
                  - android_id
                  - amazon_aid
                  - app_id
                  - app_name
                  - app_version
                  - appsflyer_id
                  - bundle_id
                  - carrier
                  - country_code
                  - custom_data
                  - customer_user_id
                  - device_category
                  - device_type
                  - device_model
                  - event_name
                  - event_revenue
                  - event_revenue_currency
                  - event_time
                  - event_value
                  - idfa
                  - idfv
                  - imei
                  - install_app_store
                  - install_time
                  - ip
                  - language
                  - operator
                  - os_version
                  - platform
                  - sdk_version
                  - wifi
                  - gp_broadcast_referrer
                  - city
                  - attributed_touch_time
                  - attributed_touch_type
                  - contributor_1_af_prt
                  - contributor_1_campaign
                  - contributor_1_match_type
                  - contributor_1_media_source
                  - contributor_1_touch_time
                  - contributor_1_touch_type
                  - contributor_2_af_prt
                  - contributor_2_campaign
                  - contributor_2_match_type
                  - contributor_2_media_source
                  - contributor_2_touch_time
                  - contributor_2_touch_type
                  - contributor_3_af_prt
                  - contributor_3_campaign
                  - contributor_3_match_type
                  - contributor_3_media_source
                  - contributor_3_touch_time
                  - contributor_3_touch_type
                  - dma
                  - event_revenue_usd
                  - event_source
                  - http_referrer
                  - is_primary_attribution
                  - is_receipt_validated
                  - match_type
                  - postal_code
                  - region
                  - retargeting_conversion_type
                  - state
                  - network_account_id
                  - gp_click_time
                  - gp_install_begin
                  - gp_referrer
                  - keyword_match_type
                  - selected_currency
                  - revenue_in_selected_currency
                  - cost_in_selected_currency
                  - attributed_touch_time_selected_timezone
                  - install_time_selected_timezone
                  - event_time_selected_timezone
                  - selected_timezone
                  - deeplink_url
                  - oaid
                  - keyword_id
                  - store_reinstall
                  - is_lat
                  - device_download_time
                  - device_download_time_selected_timezone
                  - conversion_type
                  - custom_dimension
                  - campaign_type
                  - att
                  - app_type
                  - store_product_page
        enabled:
          type: boolean
          default: true
        integration_type:
          type: string
          enum:
            - skadnetwork
          default: skadnetwork
          
