openapi: 3.0.1
info:
  title: Audience External API
  version: 1.0.0
servers:
- url: https://hq1.appsflyer.com/audiences-external-api
security:
- ApiKeyAuth: []
paths:
  /audience:
    post:
      summary: Creates new imported audience
      requestBody:
        content:
          application/json:
            schema:
              required:
              - audience_name
              - platform
              type: object
              properties:
                audience_name:
                  minimum: 2
                  maximum: 100
                  type: string
                  example: 'test-audience'
                ignore_account_identifiers_policy:
                  type: boolean
                platform:
                  $ref: '#/components/schemas/platform'
                connections:
                  type: array
                  items:
                    $ref: '#/components/schemas/connection'
            examples:
              Create unconnected audience:
                value:
                  audience_name: 'unconnected test audience'
                  platform: 'android'
                  connections: []
              Create 2 partners audience:
                value:
                  audience_name: '2 partners test audience'
                  platform: 'android'
                  connections: [{integration_id: 1234}, {integration_id: 5678}]
              Create 2 partners split audience:
                value:
                  audience_name: '2 partners split test audience'
                  platform: 'android'
                  connections: [{integration_id: 1234, split_ratio: 40}, {integration_id: 5678, split_ratio: 60}]
              Create 2 partners cg split audience:
                value:
                  audience_name: '2 partners split cg test audience'
                  platform: 'android'
                  connections: [{integration_id: "control_group", split_ratio: 40}, {integration_id: 5678, split_ratio: 60}]
        required: true
      responses:
        200:
          description: Created audience successfully
          content:
            application/json:
              schema:
                required:
                - audience_id
                - import_key
                type: object
                properties:
                  audience_id:
                    type: integer
                    format: int64
                  import_key:
                    type: string
                    example: 'WERWERWER1234'
        400:
          description: |
            Audience already exists
            
            The following integrations are invalid: ...
            
            Creation is no longer allowed for this account 
  /audience/{audience_id}/connections:
    get:
      summary: List audience's existing connections
      parameters:
      - name: audience_id
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                required:
                - connections
                type: object
                properties:
                  connections:
                    type: array
                    items:
                      required:
                      - integration_id
                      - partner_id
                      - integration_name
                      - split_ratio
                      type: object
                      properties:
                        integration_id:
                          $ref: '#/components/schemas/integration_id'
                        partner_id:
                          $ref: '#/components/schemas/partner_id'
                        integration_name:
                          $ref: '#/components/schemas/integration_name'
                        split_ratio:
                          $ref: '#/components/schemas/split_ratio'
        400:
          description: "Audience does not exist under your account"
    put:
      summary: Connect an audience to existing integrations
      parameters:
      - name: audience_id
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                connections:
                  type: array
                  items:
                    required:
                    - integration_id
                    type: object
                    properties:
                      integration_id:
                        $ref: '#/components/schemas/integration_id'
                      split_ratio:
                        $ref: '#/components/schemas/split_ratio'
            examples:
              Remove all connections:
                value:
                  connections: []
              Connect 2 partners to an audience:
                value:
                  connections: [{integration_id: 1234}, {integration_id: 5678}]
              Connect 2 partners split audience:
                value:
                  connections: [{integration_id: 1234, split_ratio: 40}, {integration_id: 5678, split_ratio: 60}]
              Connect 2 partners cg split audience:
                value:
                  connections: [{integration_id: "control_group", split_ratio: 40}, {integration_id: 5678, split_ratio: 60}]
        required: true
      responses:
        200:
          description: "Connections were updated with the given connections array"
          content:
            application/text:
              schema:
                type: string
                example: "Connections updated successfully"
        400:
          description: |
           Audience does not exist
           The following integrations are invalid: ...
  /audience/{audience_id}/split_syncs:
    get:
      summary: Gets the enabled split syncs under audience
      parameters:
      - name: audience_id
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        200:
          description: "Array of split syncs that are assigned to an audience"
          content:
            application/json:
              schema:
                required:
                - connections
                type: object
                properties:
                  connections:
                    type: array
                    items:
                      required:
                      - integration_id
                      - integration_name
                      - partner_id
                      type: object
                      properties:
                        integration_id:
                          $ref: '#/components/schemas/integration_id'
                        partner_id:
                          $ref: '#/components/schemas/partner_id'
                        integration_name:
                          $ref: '#/components/schemas/integration_name'
        400:
          description: "Audience does not exist under your account"
    put:
      summary: Updates split sync configuration
      parameters:
      - name: audience_id
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              required:
              - connections
              type: object
              properties:
                connections:
                  type: array
                  items:
                    required:
                    - integration_id
                    type: object
                    properties:
                      integration_id:
                        $ref: '#/components/schemas/integration_id'
            examples:
              Remove all split syncs:
                value:
                  connections: []
              Connect 1 split sync to an audience:
                value:
                  connections: [{integration_id: 1234}]
        required: true
      responses:
        200:
          description: "Connections were updated with the given connections array"
          content:
            application/text:
              schema:
                type: string
                example: "Connections split updated successfully"
        400:
          description: |
           Audience does not exist under your account         
           The following integrations are invalid:     
           This audience is not a split audience
  /audience/{audience_id}/upload_now:
    post:
      summary: Upload the audience
      parameters:
      - name: audience_id
        in: path
        required: true
        schema:
          minimum: 1
          type: integer
      responses:
        200:
          description: "Upload was initiated and will start in the next few minutes"
          content:
            application/text:
              schema:
                type: string
                example: "Successfully initiated an upload on audience id .."
        400:
          description: |
           "Audience does not exist under your account
           There are no partners connected, upload is not possible
           An error occurred while uploading audience id: .."
  /connections:
    get:
      summary: List account's connections
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                required:
                - connections
                type: object
                properties:
                  connections:
                    type: array
                    items:
                      required:
                      - integration_id
                      - integration_name
                      - partner_id
                      type: object
                      properties:
                        integration_id:
                          $ref: '#/components/schemas/integration_id'
                        partner_id:
                          $ref: '#/components/schemas/partner_id'
                        integration_name:
                          $ref: '#/components/schemas/integration_name'
  /split_syncs:
    get:
      summary: Gets the available split syncs under the account
      responses:
        200:
          description: ""
          content:
            application/json:
              schema:
                required:
                - connections
                type: object
                properties:
                  connections:
                    type: array
                    items:
                      required:
                      - integration_id
                      - integration_name
                      - partner_id
                      type: object
                      properties:
                        integration_id:
                          $ref: '#/components/schemas/integration_id'
                        partner_id:
                          $ref: '#/components/schemas/partner_id'
                        integration_name:
                          $ref: '#/components/schemas/integration_name'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: api_token
      in: query
  schemas:
    connection:
      title: Connection
      required:
      - integration_id
      type: object
      properties:
        integration_id:
          $ref: '#/components/schemas/integration_id'
        split_ratio: 
          type: integer
          example: 50
    integration_id:
      type: integer
      example: 1234
    split_ratio:
      type: object
      x-anyOf:
      - type: string
        example: 'null'
      - type: integer
        minimum: 1
        maximum: 99
        example: 50
      - type: object
        example: null
      example: 50
    platform:
      type: string
      description: |
        Android, iOS
      enum:
        - android
        - ios
      example: 'android'
    partner_id: 
      type: string
      example: 'amazon_int'
    integration_name:
      type: string
      example: 'Integration 123'
x-id:
- reitit.swagger/default
