openapi: 3.0.1
info:
  title: Add app
  description: API for adding a new app to your Appsflyer account.
  version: 1.0.0
servers:
  - url: https://hq1.appsflyer.com
    description: api server - production
security:
  - bearerAuth: []
tags:
  - name: Add app
    description: 'Judi says Public API for adding a new app to AppsFlyer account'

paths:
  /api/apps/v1/add_app:
    post:
      tags:
        - 'Add app'
      summary: ''
      requestBody:
        description: 'Judi says Use the examples below as a template for your request body'
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/available-app'
                - $ref: '#/components/schemas/pending-app'
                - $ref: '#/components/schemas/3rd-party-store-app'
            examples:
              Available Android app:
                value:
                  status: 'available'
                  platform: 'android'
                  time_zone: 'UTC'
                  currency : 'USD'
                  app_url: 'https://play.google.com/store/apps/details?id=com.publisher.name'
              Available iOS app:
                value:
                  status: 'available'
                  platform: 'ios'
                  time_zone: 'UTC'
                  currency : 'USD'
                  app_url: 'https://itunes.apple.com/us/app/app-name/id123456789'
              Pending iOS App:
                value:
                  status: 'pending'
                  platform: 'ios'
                  time_zone: 'UTC'
                  currency : 'USD'
                  app_id: '123456789'
                  country: 'United States'
              Pending Android App:
                value:
                  status: 'pending'
                  platform: 'android'
                  time_zone: 'UTC'
                  currency : 'USD'
                  app_id: 'com.some.appid'
              3rd party store Android App:
                value:
                  status: '3rd_party_store'
                  platform: 'android'
                  time_zone: 'UTC'
                  currency : 'USD'
                  app_id: 'com.some.appid'
                  channel_name: 'Amazon'
                  app_url: 'http://www.optionlAppLocation.com'
        required: true
      responses:
        '200':
          description: app added succesfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
        '400':
          description: invalid request or schema
        '422':
          description: invalid request or schema
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    available-app:
      title: 'Available App'
      required:
        - platform
        - status
        - currency
        - app_url
      type: 'object'
      properties:
        platform:
          $ref: '#/components/schemas/platform'
        status:
          $ref: '#/components/schemas/status'
        time_zone:
          $ref: '#/components/schemas/time_zone'
        currency:
          $ref: '#/components/schemas/currency'
        app_url:
          allOf:
            - $ref: '#/components/schemas/app_url'
    pending-app:
      title: 'Pending App'
      required:
        - platform
        - status
        - currency
        - app_id
      type: 'object'
      properties:
        platform:
          $ref: '#/components/schemas/platform'
        status:
          $ref: '#/components/schemas/status'
        time_zone:
          $ref: '#/components/schemas/time_zone'
        currency:
          $ref: '#/components/schemas/currency'
        country:
          $ref: '#/components/schemas/country'
        app_id:
          allOf:
            - $ref: '#/components/schemas/app_id'
      example:
          status: 'pending'
          platform: 'ios'
          time_zone: 'UTC'
          currency : 'USD'
          app_id: '123456789'
          country: 'United States'
    3rd-party-store-app:
      title: '3rd Party Store App'
      required:
        - platform
        - status
        - currency
        - app_id
        - channel_name
      type: 'object'
      properties:
        platform:
          $ref: '#/components/schemas/platform'
        status:
          $ref: '#/components/schemas/status'
        time_zone:
          $ref: '#/components/schemas/time_zone'
        currency:
          $ref: '#/components/schemas/currency'
        app_id:
          allOf:
            - $ref: '#/components/schemas/app_id'
        app_url:
          allOf:
            - $ref: '#/components/schemas/app_url'
          description: 'Its optional to supply an app location URL - http://www.somelink.com'
        channel_name:
          allOf:
            - $ref: '#/components/schemas/channel_name'
    platform:
      type: 'string'
      description: 'The platform of the app'
      enum:
        - 'android'
        - 'ios'
        - 'windows_phone'
    status:
      type: 'string'
      description: 'The status of the app'
      enum:
        - 'available'
        - 'pending'
        - '3rd_party_store'
    app_id:
      type: 'string'
      description: 'The app-id of the app, Required only when the status is "pending" or "3rd_party_store", Example: android - com.publisher.name | ios - 123456789 | windows_phone - a1b2c3d4e5f6'
    app_url:
      type: 'string'
      description: 'The url in the app store, Required only when the status is "available", Example: Android,When status is "available" Play Store URL - https://play.google.com/store/apps/details?id=com.publisher.name , When status is "3rd_party_store" its optional to supply an app location URL - http://www.somelink.com  | iOS App Store URL - https://itunes.apple.com/us/app/app-name/id123456789 , The URL should include the 2-letter country code of the store | Windows Phone Windows Phone Store URL - https://microsoft.com/en-us/store/apps/app-name/a1b2c3d4e5f6'
    channel_name:
      type: 'string'
      pattern: '^[A-Za-z]+$'
      description: 'Required only when the status is "3rd_party_store"'
      example: 'Amazon'
    time_zone:
      type: string
      description: 'Optional, The preferable time-zone, Default is UTC'
      enum:
        - UTC
        - Andorra - Andorra
        - United Arab Emirates - Dubai
        - Afghanistan - Kabul
        - Antigua & Barbuda - Port of Spain
        - Anguilla - Port of Spain
        - Albania - Tirane
        - Armenia - Yerevan
        - Angola - Lagos
        - Antarctica - Casey
        - Antarctica - Davis
        - Antarctica - DumontDUrville
        - Antarctica - Mawson
        - Antarctica - Palmer
        - Antarctica - Rothera
        - Antarctica - Syowa
        - Antarctica - Troll
        - Antarctica - Vostok
        - Antarctica - Auckland
        - Argentina - Buenos Aires
        - Argentina - Cordoba
        - Argentina - Salta
        - Argentina - Jujuy
        - Argentina - Tucuman
        - Argentina - Catamarca
        - Argentina - La Rioja
        - Argentina - San Juan
        - Argentina - Mendoza
        - Argentina - San Luis
        - Argentina - Rio Gallegos
        - Argentina - Ushuaia
        - Samoa (American) - Pago Pago
        - Austria - Vienna
        - Australia - Lord Howe
        - Australia - Macquarie
        - Australia - Hobart
        - Australia - Currie
        - Australia - Melbourne
        - Australia - Sydney
        - Australia - Broken Hill
        - Australia - Brisbane
        - Australia - Lindeman
        - Australia - Adelaide
        - Australia - Darwin
        - Australia - Perth
        - Australia - Eucla
        - Aruba - Curacao
        - Åland Islands - Helsinki
        - Azerbaijan - Baku
        - Bosnia & Herzegovina - Belgrade
        - Barbados - Barbados
        - Bangladesh - Dhaka
        - Belgium - Brussels
        - Burkina Faso - Abidjan
        - Bulgaria - Sofia
        - Bahrain - Qatar
        - Burundi - Maputo
        - Benin - Lagos
        - St Barthelemy - Port of Spain
        - Bermuda - Bermuda
        - Brunei - Brunei
        - Bolivia - La Paz
        - Caribbean NL - Curacao
        - Brazil - Noronha
        - Brazil - Belem
        - Brazil - Fortaleza
        - Brazil - Recife
        - Brazil - Araguaina
        - Brazil - Maceio
        - Brazil - Bahia
        - Brazil - Sao Paulo
        - Brazil - Campo Grande
        - Brazil - Cuiaba
        - Brazil - Santarem
        - Brazil - Porto Velho
        - Brazil - Boa Vista
        - Brazil - Manaus
        - Brazil - Eirunepe
        - Brazil - Rio Branco
        - Bahamas - Nassau
        - Bhutan - Thimphu
        - Botswana - Maputo
        - Belarus - Minsk
        - Belize - Belize
        - Canada - St Johns
        - Canada - Halifax
        - Canada - Glace Bay
        - Canada - Moncton
        - Canada - Goose Bay
        - Canada - Blanc-Sablon
        - Canada - Toronto
        - Canada - Nipigon
        - Canada - Thunder Bay
        - Canada - Iqaluit
        - Canada - Pangnirtung
        - Canada - Atikokan
        - Canada - Winnipeg
        - Canada - Rainy River
        - Canada - Resolute
        - Canada - Rankin Inlet
        - Canada - Regina
        - Canada - Swift Current
        - Canada - Edmonton
        - Canada - Cambridge Bay
        - Canada - Yellowknife
        - Canada - Inuvik
        - Canada - Creston
        - Canada - Dawson Creek
        - Canada - Fort Nelson
        - Canada - Vancouver
        - Canada - Whitehorse
        - Canada - Dawson
        - Cocos (Keeling) Islands - Cocos
        - Congo (Dem. Rep.) - Maputo
        - Congo (Dem. Rep.) - Lagos
        - Central African Rep. - Lagos
        - Congo (Rep.) - Lagos
        - Switzerland - Zurich
        - Côte d'Ivoire - Abidjan
        - Cook Islands - Rarotonga
        - Chile - Santiago
        - Chile - Easter
        - Cameroon - Lagos
        - China - Shanghai
        - China - Urumqi
        - Colombia - Bogota
        - Costa Rica - Costa Rica
        - Cuba - Havana
        - Cape Verde - Cape Verde
        - Curacao - Curacao
        - Christmas Island - Christmas
        - Cyprus - Nicosia
        - Czech Republic - Prague
        - Germany - Zurich
        - Germany - Berlin
        - Djibouti - Nairobi
        - Denmark - Copenhagen
        - Dominica - Port of Spain
        - Dominican Republic - Santo Domingo
        - Algeria - Algiers
        - Ecuador - Guayaquil
        - Ecuador - Galapagos
        - Estonia - Tallinn
        - Egypt - Cairo
        - Western Sahara - El Aaiun
        - Eritrea - Nairobi
        - Spain - Madrid
        - Spain - Ceuta
        - Spain - Canary
        - Ethiopia - Nairobi
        - Finland - Helsinki
        - Fiji - Fiji
        - Falkland Islands - Stanley
        - Micronesia - Chuuk
        - Micronesia - Pohnpei
        - Micronesia - Kosrae
        - Faroe Islands - Faroe
        - France - Paris
        - Gabon - Lagos
        - Britain (UK) - London
        - Grenada - Port of Spain
        - Georgia - Tbilisi
        - French Guiana - Cayenne
        - Guernsey - London
        - Ghana - Accra
        - Gibraltar - Gibraltar
        - Greenland - Godthab
        - Greenland - Danmarkshavn
        - Greenland - Scoresbysund
        - Greenland - Thule
        - Gambia - Abidjan
        - Guinea - Abidjan
        - Guadeloupe - Port of Spain
        - Equatorial Guinea - Lagos
        - Greece - Athens
        - South Georgia & the South Sandwich Islands - South Georgia
        - Guatemala - Guatemala
        - Guam - Guam
        - Guinea-Bissau - Bissau
        - Guyana - Guyana
        - Hong Kong - Hong Kong
        - Honduras - Tegucigalpa
        - Croatia - Belgrade
        - Haiti - Port-au-Prince
        - Hungary - Budapest
        - Indonesia - Jakarta
        - Indonesia - Pontianak
        - Indonesia - Makassar
        - Indonesia - Jayapura
        - Ireland - Dublin
        - Israel - Jerusalem
        - Isle of Man - London
        - India - Kolkata
        - British Indian Ocean Territory - Chagos
        - Iraq - Baghdad
        - Iran - Tehran
        - Iceland - Reykjavik
        - Italy - Rome
        - Jersey - London
        - Jamaica - Jamaica
        - Jordan - Amman
        - Japan - Tokyo
        - Kenya - Nairobi
        - Kyrgyzstan - Bishkek
        - Cambodia - Bangkok
        - Kiribati - Tarawa
        - Kiribati - Enderbury
        - Kiribati - Kiritimati
        - Comoros - Nairobi
        - St Kitts & Nevis - Port of Spain
        - Korea (North) - Pyongyang
        - Korea (South) - Seoul
        - Kuwait - Riyadh
        - Cayman Islands - Panama
        - Kazakhstan - Almaty
        - Kazakhstan - Qyzylorda
        - Kazakhstan - Aqtobe
        - Kazakhstan - Aqtau
        - Kazakhstan - Oral
        - Laos - Bangkok
        - Lebanon - Beirut
        - St Lucia - Port of Spain
        - Liechtenstein - Zurich
        - Sri Lanka - Colombo
        - Liberia - Monrovia
        - Lesotho - Johannesburg
        - Lithuania - Vilnius
        - Luxembourg - Luxembourg
        - Latvia - Riga
        - Libya - Tripoli
        - Morocco - Casablanca
        - Monaco - Monaco
        - Moldova - Chisinau
        - Montenegro - Belgrade
        - St Martin (French) - Port of Spain
        - Madagascar - Nairobi
        - Marshall Islands - Majuro
        - Marshall Islands - Kwajalein
        - Macedonia - Belgrade
        - Mali - Abidjan
        - Myanmar (Burma) - Rangoon
        - Mongolia - Ulaanbaatar
        - Mongolia - Hovd
        - Mongolia - Choibalsan
        - Macau - Macau
        - Northern Mariana Islands - Guam
        - Martinique - Martinique
        - Mauritania - Abidjan
        - Montserrat - Port of Spain
        - Malta - Malta
        - Mauritius - Mauritius
        - Maldives - Maldives
        - Malawi - Maputo
        - Mexico - Mexico City
        - Mexico - Cancun
        - Mexico - Merida
        - Mexico - Monterrey
        - Mexico - Matamoros
        - Mexico - Mazatlan
        - Mexico - Chihuahua
        - Mexico - Ojinaga
        - Mexico - Hermosillo
        - Mexico - Tijuana
        - Mexico - Bahia Banderas
        - Malaysia - Kuala Lumpur
        - Malaysia - Kuching
        - Mozambique - Maputo
        - Namibia - Windhoek
        - New Caledonia - Noumea
        - Niger - Lagos
        - Norfolk Island - Norfolk
        - Nigeria - Lagos
        - Nicaragua - Managua
        - Netherlands - Amsterdam
        - Norway - Oslo
        - Nepal - Kathmandu
        - Nauru - Nauru
        - Niue - Niue
        - New Zealand - Auckland
        - New Zealand - Chatham
        - Oman - Dubai
        - Panama - Panama
        - Peru - Lima
        - French Polynesia - Tahiti
        - French Polynesia - Marquesas
        - French Polynesia - Gambier
        - Papua New Guinea - Port Moresby
        - Papua New Guinea - Bougainville
        - Philippines - Manila
        - Pakistan - Karachi
        - Poland - Warsaw
        - St Pierre & Miquelon - Miquelon
        - Pitcairn - Pitcairn
        - Puerto Rico - Puerto Rico
        - Palestine - Gaza
        - Palestine - Hebron
        - Portugal - Lisbon
        - Portugal - Madeira
        - Portugal - Azores
        - Palau - Palau
        - Paraguay - Asuncion
        - Qatar - Qatar
        - Réunion - Reunion
        - Romania - Bucharest
        - Serbia - Belgrade
        - Russia - Kaliningrad
        - Russia - Moscow
        - Russia - Simferopol
        - Russia - Volgograd
        - Russia - Kirov
        - Russia - Astrakhan
        - Russia - Samara
        - Russia - Ulyanovsk
        - Russia - Yekaterinburg
        - Russia - Omsk
        - Russia - Novosibirsk
        - Russia - Barnaul
        - Russia - Tomsk
        - Russia - Novokuznetsk
        - Russia - Krasnoyarsk
        - Russia - Irkutsk
        - Russia - Chita
        - Russia - Yakutsk
        - Russia - Khandyga
        - Russia - Vladivostok
        - Russia - Ust-Nera
        - Russia - Magadan
        - Russia - Sakhalin
        - Russia - Srednekolymsk
        - Russia - Kamchatka
        - Russia - Anadyr
        - Rwanda - Maputo
        - Saudi Arabia - Riyadh
        - Solomon Islands - Guadalcanal
        - Seychelles - Mahe
        - Sudan - Khartoum
        - Sweden - Stockholm
        - Singapore - Singapore
        - St Helena - Abidjan
        - Slovenia - Belgrade
        - Svalbard & Jan Mayen - Oslo
        - Slovakia - Prague
        - Sierra Leone - Abidjan
        - San Marino - Rome
        - Senegal - Abidjan
        - Somalia - Nairobi
        - Suriname - Paramaribo
        - South Sudan - Khartoum
        - Sao Tome & Principe - Abidjan
        - El Salvador - El Salvador
        - St Maarten (Dutch) - Curacao
        - Syria - Damascus
        - Swaziland - Johannesburg
        - Turks & Caicos Is - Grand Turk
        - Chad - Ndjamena
        - French Southern & Antarctic Lands - Reunion
        - French Southern & Antarctic Lands - Kerguelen
        - Togo - Abidjan
        - Thailand - Bangkok
        - Tajikistan - Dushanbe
        - Tokelau - Fakaofo
        - East Timor - Dili
        - Turkmenistan - Ashgabat
        - Tunisia - Tunis
        - Tonga - Tongatapu
        - Turkey - Istanbul
        - Trinidad & Tobago - Port of Spain
        - Tuvalu - Funafuti
        - Taiwan - Taipei
        - Tanzania - Nairobi
        - Ukraine - Kiev
        - Ukraine - Uzhgorod
        - Ukraine - Zaporozhye
        - Uganda - Nairobi
        - US minor outlying islands - Pago Pago
        - US minor outlying islands - Wake
        - US minor outlying islands - Honolulu
        - United States - New York
        - United States - Detroit
        - United States - Louisville
        - United States - Monticello
        - United States - Indianapolis
        - United States - Vincennes
        - United States - Winamac
        - United States - Marengo
        - United States - Petersburg
        - United States - Vevay
        - United States - Chicago
        - United States - Tell City
        - United States - Knox
        - United States - Menominee
        - United States - Center
        - United States - New Salem
        - United States - Beulah
        - United States - Denver
        - United States - Boise
        - United States - Phoenix
        - United States - Los Angeles
        - United States - Anchorage
        - United States - Juneau
        - United States - Sitka
        - United States - Metlakatla
        - United States - Yakutat
        - United States - Nome
        - United States - Adak
        - United States - Honolulu
        - Uruguay - Montevideo
        - Uzbekistan - Samarkand
        - Uzbekistan - Tashkent
        - Vatican City - Rome
        - St Vincent - Port of Spain
        - Venezuela - Caracas
        - Virgin Islands (UK) - Port of Spain
        - Virgin Islands (US) - Port of Spain
        - Vietnam - Bangkok
        - Vietnam - Ho Chi Minh
        - Vanuatu - Efate
        - Wallis & Futuna - Wallis
        - Samoa (western) - Apia
        - Yemen - Riyadh
        - Mayotte - Nairobi
        - South Africa - Johannesburg
        - Zambia - Maputo
        - Zimbabwe - Maputo
    currency:
      type: string
      description: 'The preferable currency'
      enum:
        - USD
        - NZD
        - SGD
        - IMP
        - ANG
        - MNT
        - BIF
        - BBD
        - HUF
        - ERN
        - AZN
        - AOA
        - PYG
        - MYR
        - GYD
        - VUV
        - SLL
        - FKP
        - DJF
        - GNF
        - LVL
        - MMK
        - MRO
        - RSD
        - CLF
        - XDR
        - ZAR
        - TND
        - PHP
        - KGS
        - XPD
        - RON
        - RUB
        - KMF
        - SCR
        - GIP
        - TRY
        - JEP
        - UYU
        - XCD
        - FJD
        - GHS
        - MVR
        - AWG
        - UGX
        - TOP
        - CVE
        - MKD
        - COP
        - CUC
        - GTQ
        - KZT
        - MXN
        - MGA
        - AUD
        - BDT
        - ISK
        - KRW
        - DZD
        - GGP
        - OMR
        - ZMW
        - MOP
        - CUP
        - JPY
        - SHP
        - LSL
        - ETB
        - BWP
        - MAD
        - AED
        - NGN
        - BRL
        - GEL
        - IDR
        - EUR
        - GBP
        - WST
        - XAF
        - SZL
        - XOF
        - SEK
        - UZS
        - KES
        - KYD
        - ILS
        - KWD
        - NPR
        - BZD
        - QAR
        - UAH
        - BTN
        - HTG
        - DKK
        - VND
        - SBD
        - JMD
        - IQD
        - LBP
        - XPT
        - HRK
        - HKD
        - JOD
        - PAB
        - CDF
        - VEF
        - XAU
        - BAM
        - CNY
        - SOS
        - XPF
        - GMD
        - DOP
        - XAG
        - KPW
        - BOB
        - BHD
        - BYN
        - BYR
        - LRD
        - BGN
        - AMD
        - CZK
        - CAD
        - LAK
        - EEK
        - MTL
        - PLN
        - LKR
        - BTC
        - MWK
        - LTL
        - ZMK
        - PGK
        - YER
        - PEN
        - KHR
        - RWF
        - BSD
        - AFN
        - ZWL
        - LYD
        - TMT
        - HNL
        - TWD
        - IRR
        - MUR
        - THB
        - ALL
        - TJS
        - SDG
        - BMD
        - CRC
        - NOK
        - SRD
        - MZN
        - CLP
        - STD
        - SYP
        - TZS
        - EGP
        - ARS
        - MDL
        - INR
        - SAR
        - PKR
        - TTD
        - NIO
        - BND
        - NAD
        - SVC
        - CHF
    country:
      type: string
      description: 'The App Store country, Required Only for  iOS apps with "pending" status, default is : "United States"'
      enum:
        - Afghanistan
        - Åland Islands
        - Albania
        - Algeria
        - American Samoa
        - AndorrA
        - Angola
        - Anguilla
        - Antarctica
        - Antigua and Barbuda
        - Argentina
        - Armenia
        - Aruba
        - Australia
        - Austria
        - Azerbaijan
        - Bahamas
        - Bahrain
        - Bangladesh
        - Barbados
        - Belarus
        - Belgium
        - Belize
        - Benin
        - Bermuda
        - Bhutan
        - Bolivia
        - Bosnia and Herzegovina
        - Botswana
        - Bouvet Island
        - Brazil
        - British Indian Ocean Territory
        - Brunei Darussalam
        - Bulgaria
        - Burkina Faso
        - Burundi
        - Cambodia
        - Cameroon
        - Canada
        - Cape Verde
        - Cayman Islands
        - Central African Republic
        - Chad
        - Chile
        - China
        - Christmas Island
        - Cocos (Keeling) Islands
        - Colombia
        - Comoros
        - Congo
        - Congo, The Democratic Republic of the
        - Cook Islands
        - Costa Rica
        - Cote D"Ivoire
        - Croatia
        - Cuba
        - Cyprus
        - Czech Republic
        - Denmark
        - Djibouti
        - Dominica
        - Dominican Republic
        - Ecuador
        - Egypt
        - El Salvador
        - Equatorial Guinea
        - Eritrea
        - Estonia
        - Ethiopia
        - Falkland Islands (Malvinas)
        - Faroe Islands
        - Fiji
        - Finland
        - France
        - French Guiana
        - French Polynesia
        - French Southern Territories
        - Gabon
        - Gambia
        - Georgia
        - Germany
        - Ghana
        - Gibraltar
        - Greece
        - Greenland
        - Grenada
        - Guadeloupe
        - Guam
        - Guatemala
        - Guernsey
        - Guinea
        - Guinea-Bissau
        - Guyana
        - Haiti
        - Heard Island and Mcdonald Islands
        - Holy See (Vatican City State)
        - Honduras
        - Hong Kong
        - Hungary
        - Iceland
        - India
        - Indonesia
        - Iran, Islamic Republic Of
        - Iraq
        - Ireland
        - Isle of Man
        - Israel
        - Italy
        - Jamaica
        - Japan
        - Jersey
        - Jordan
        - Kazakhstan
        - Kenya
        - Kiribati
        - Korea, Democratic People"S Republic of
        - Korea, Republic of
        - Kuwait
        - Kyrgyzstan
        - Lao People"S Democratic Republic
        - Latvia
        - Lebanon
        - Lesotho
        - Liberia
        - Libyan Arab Jamahiriya
        - Liechtenstein
        - Lithuania
        - Luxembourg
        - Macao
        - Macedonia, The Former Yugoslav Republic of
        - Madagascar
        - Malawi
        - Malaysia
        - Maldives
        - Mali
        - Malta
        - Marshall Islands
        - Martinique
        - Mauritania
        - Mauritius
        - Mayotte
        - Mexico
        - Micronesia, Federated States of
        - Moldova, Republic of
        - Monaco
        - Mongolia
        - Montserrat
        - Morocco
        - Mozambique
        - Myanmar
        - Namibia
        - Nauru
        - Nepal
        - Netherlands
        - Netherlands Antilles
        - New Caledonia
        - New Zealand
        - Nicaragua
        - Niger
        - Nigeria
        - Niue
        - Norfolk Island
        - Northern Mariana Islands
        - Norway
        - Oman
        - Pakistan
        - Palau
        - Palestinian Territory, Occupied
        - Panama
        - Papua New Guinea
        - Paraguay
        - Peru
        - Philippines
        - Pitcairn
        - Poland
        - Portugal
        - Puerto Rico
        - Qatar
        - Reunion
        - Romania
        - Russian Federation
        - RWANDA
        - Saint Helena
        - Saint Kitts and Nevis
        - Saint Lucia
        - Saint Pierre and Miquelon
        - Saint Vincent and the Grenadines
        - Samoa
        - San Marino
        - Sao Tome and Principe
        - Saudi Arabia
        - Senegal
        - Serbia
        - Montenegro
        - Seychelles
        - Sierra Leone
        - Singapore
        - Slovakia
        - Slovenia
        - Solomon Islands
        - Somalia
        - South Africa
        - South Georgia and the South Sandwich Islands
        - Spain
        - Sri Lanka
        - Sudan
        - Suriname
        - Svalbard and Jan Mayen
        - Swaziland
        - Sweden
        - Switzerland
        - Syrian Arab Republic
        - Taiwan, Province of China
        - Tajikistan
        - Tanzania, United Republic of
        - Thailand
        - Timor-Leste
        - Togo
        - Tokelau
        - Tonga
        - Trinidad and Tobago
        - Tunisia
        - Turkey
        - Turkmenistan
        - Turks and Caicos Islands
        - Tuvalu
        - Uganda
        - Ukraine
        - United Arab Emirates
        - United Kingdom
        - United States
        - United States Minor Outlying Islands
        - Uruguay
        - Uzbekistan
        - Vanuatu
        - Venezuela
        - Viet Nam
        - Virgin Islands, British
        - Virgin Islands, U.S.
        - Wallis and Futuna
        - Western Sahara
        - Yemen
        - Zambia
        - Zimbabwe
