openapi: 3.0.1
info:
  title: Unified Events API
  version: 1.0.0
servers:
  - url: https://events.appsflyer.com/v2.0/s2s/
    description: Production server
security:
  - ApiKeyAuth: []
paths:
  /inapp/app/{platform}/{app-id}:
    post:
      tags:
      - Measure in-app events
      summary: Measure in-app events
      description: |
        > ⚠️ Work In Progress
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/Platform'
      requestBody:
        content:
          application/json:
            schema:
              required:
              - device_ids
              type: object
              properties:
                device_ids:
                  $ref: '#/components/schemas/DeviceIds'  
                request_id:
                  maxLength: 36
                  minLength: 36
                  type: string
                  description: Unique identifier per request
                  example: 71dad7da-7926-40d8-9b15-b94a6d46e15a
                appsflyer_id:
                  type: string
                  pattern: \d{13}-\d{7}
                  description: |
                    A unique identifier, generated by AppsFlyer, when the app launches for the first time.
                    Learn [here](https://support.appsflyer.com/hc/en-us/articles/207034486-Server-to-server-events-API-for-mobile-S2S-mobile#fetching-the-appsflyer-id) how to obtain it
                  example: 1234567890123-1234567
                customer_user_id:
                  maxLength: 64
                  minLength: 1
                  type: string
                  description: Customer user ID, as set by the developer. This is
                    used as the user identifier in the advertiser's system
                  example: 15667737-366d-4994-ac8b-653fe6b2be4a
                ip:
                  maxLength: 46
                  minLength: 1
                  type: string
                  description: The device IP address - IPv4 or IPv6
                  example: 35.244.183.10
                event_name:
                  type: string
                  description: The name of the event
                  oneOf:
                    - type: string
                      title: Predefined event names
                      enum:
                      - ""
                      - af_level_achieved
                      - af_add_payment_info
                      - af_add_to_cart
                      - af_add_to_wishlist
                      - af_complete_registration
                      - af_tutorial_completion
                      - af_initiated_checkout
                      - af_purchase
                      - af_rate
                      - af_search
                      - af_spent_credits
                      - af_achievement_unlocked
                      - af_content_view
                      - af_list_view
                      - af_travel_booking
                      - af_share
                      - af_invite
                      - af_login
                      - af_re_engage
                      - af_update
                      - af_location_coordinates
                      - af_customer_segment
                      - af_subscribe
                      - af_start_trial
                      - af_ad_click
                      - af_ad_view
                      - af_opened_from_push_notification
                    - type: string
                      title: Custom event names
                      description: A custom event name
                event_parameters:
                  $ref: "#/components/schemas/EventParameters"
                event_custom_parameters:
                  description: A JSON object which can contain multiple parameters. Learn more [here](https://support.appsflyer.com/hc/en-us/articles/4410481112081-Rich-in-app-events-Event-structure)
                  type: string
                  format: json
                  maxLength: 2048
                  example: '{"test_param": "test_data", "af_price":6.66, "player_level": 55, "af_duration_seconds": 100}'
                app_version:
                  maxLength: 24
                  minLength: 1
                  type: string
                  pattern: ^[A-Za-z0-9.\-]+$
                  description: The release or version number of the app
                  example: 1.0.5
                app_store:
                  type: string
                  example: my_android_store_is_best
                  description: |
                    Equivalent to `AF_STORE` in Android apps. The store from which the app was downloaded.
                timestamp:
                  type: integer
                  description: Event timestamp in Unix time milliseconds (UTC)
                  format: int64
                  example: 1625576172928
                bundle_identifier:
                  type: string
                  example: com.myapp
                  description: |
                    A unique app identifier. In raw-data, the parameter populates Bundle ID. 
                    **Best practice** - Always populate this parameter. Many ad networks require it for campaign optimization. 
                user_agent:
                  maxLength: 256
                  minLength: 1
                  type: string
                  description: The device user agent
                  example: Roku/DVP-9.21 (AE9.21E04090A)
                device_os_version:
                  maxLength: 12
                  minLength: 1
                  type: string
                  pattern: ^[0-9.\-]+$
                  description: The device OS version
                  example: 9.3.0
                device_model:
                  maxLength: 50
                  minLength: 1
                  type: string
                  pattern: ^[A-Za-z0-9.\(\)\- ]+$
                  description: The device model
                  example: 3920X
                limit_ad_tracking:
                  type: boolean
                  description: Limit Ad Tracking flag. Use this flag to mark whether
                    or not the user has advertiser ID
                  example: true
                sharing_filter:
                  $ref: '#/components/schemas/SharingFilter'
                consent_data:
                  $ref: '#/components/schemas/ConsentData'

        required: true
      responses:
        202:
          description: The request was accepted
          content: {}
        400:
          description: Mandatory fields in the message body are missing, or fields are invalid
          content: {}
        401:
          description: The app doesn't exist or the authentication failed
          content: {}
        403:
          description: App traffic blocked due to Zero package limit
          content: {}
        500:
          description: Internal server error
          content: {}
      x-codegen-request-body-name: body
  
components:
  parameters:
    AppId:
      name: app-id
      in: path
      schema:
        type: string
        pattern: ^[A-Za-z0-9.\-]+$
      required: true
      description: |
        Application ID
    Platform:
      name: platform
      in: path
      schema:
        type: string
        enum:
          - ""
          - roku
          - smartcast
          - tizen
          - webos
          - playstation
          - vidaa
          - steam
          - quest
          - battlenet
          - epic
          - switch
          - xbox
          - nativepc
      required: true
      description: |
        The CTV platform of the measured app

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      description: |
        Create an HMAC signature by hashing the entire raw message.
        The HMAC is generated using SHA256 and uses the DevKey as the signature’s secret key.

        For example, the raw message is: `{"timestamp":1604503583337,"ip":"127.0.0.1","user_agent":"Roku/DVP-9.21 (AE9.21E04090A)","device_os_version":"9.3.0","device_model":"3920X","device_ids":[{"type":"rida","value":"fa73d67d-f55c-5af3-883a-726253dc7d0e"}],"limit_ad_tracking":false}`

        The DevKey is: `w8sZzy8EaPaxFKfaoTqUi6`
        The result is: `715b133d5a327b77beb898688a3ad438da0f78071cd3df70e8ec5ecf60751972`
      name: authorization
      in: header

  schemas:
    DeviceIds:
      oneOf:
        - $ref: '#/components/schemas/AndroidDeviceIds'
        - $ref: '#/components/schemas/IosDeviceIds'
        - $ref: '#/components/schemas/CtvDeviceIds'
    AndroidDeviceIds:
      title: Android Device IDs
      type: object
      properties:
          type:
            type: string
            enum: 
            - advertising_id
            - oaid
            - amazon_aid
            - imei
          value:
            type: string
            pattern: ^[A-Za-z0-9\-_]+$
    IosDeviceIds:
      title: iOS Device IDs
      type: object
      properties:
          type:
            type: string
            enum: 
            - idfa
            - idfv
            - att
          value:
            type: string
            pattern: ^[A-Za-z0-9\-_]+$
          att:
            type: string
    CtvDeviceIds:
      title: CTV Device IDs
      type: array
      description: A vector of the different device IDs. Can be either advertising ID or a custom ID
      example:
      - type: rida
        value: fa73d67d-f55c-5af3-883a-726253dc7d0e
      - type: custom
        value: 045f4137-57b7-45e6-8a45-c303101a086a
      items:
        required:
        - type
        - value
        type: object
        properties:
            type:
              type: string
              enum: 
              - custom
              - rida
              - vida
              - tifa
              - lgudid
              - vidaaid
              - steamid
              - epicid
              - psid
              description: |
                `custom` format is GUID
            value:
              type: string
              pattern: ^[A-Za-z0-9\-_]+$
    SharingFilter:
      description: |
        The sharing filter blocks the sharing of events via postbacks/API with integrated partners and other third-party integrations.
        Use the filter to fulfill regulatory requirements like GDPR and CCPA, to comply with user opt-out mechanisms, and for other business logic reasons. 

        The `sharing_filter` has the following options:

        - `all`: All partners are blocked. Don't share the event with anyone. Example: "sharing_filter": "all"
        - List of partner ids in an array. 

        **Note:** 
          To find out the required partner IDs:
          1. Run the [Get active integrations API](https://dev.appsflyer.com/hc/reference/get_v1-integrations) for a list of all active integrations
          2. Use the `media_source_name` values from the [API response](https://dev.appsflyer.com/hc/reference/get_v1-integrations) as input values to the method `partners` array. 
      type: array
      items:
        type: string
        minLength: 1
      minItems: 1
      oneOf:
      - type: array
        items:
          type: string
          minLength: 1
        minItems: 1
        title: list partners blocked
      - type: array
        items:
          type: string
          enum:
            - all
        minItems: 1
        maxItems: 1
        title: all partners blocked
    EventParameters:
      type: object
      properties:
        af_content:
          type: array
          items:
            type: string
          description: List of content items
        af_achievement_id:
          type: string
          description: ID of the achievement
        af_level:
          type: string
          description: Level achieved
        af_score:
          type: string
          description: Score achieved
        af_success:
          type: string
          description: Success status
        af_price:
          type: number
          format: float
          description: Price or cost of an event
        af_content_type:
          type: string
          description: Content type
        af_content_id:
          type: string
          description: ID of the content
        af_content_list:
          type: array
          items:
            type: string
          description: List of content IDs
        af_currency:
          type: string
          description: Currency code
        af_quantity:
          type: integer
          description: Quantity of items
        af_registration_method:
          type: string
          description: Registration method
        af_payment_info_available:
          type: string
          description: Indicates if payment info is available
        af_max_rating_value:
          type: string
          description: Maximum rating value
        af_rating_value:
          type: string
          description: Rating value
        af_search_string:
          type: string
          description: Search string used
        af_date_a:
          type: string
          description: Date A
        af_date_b:
          type: string
          description: Date B
        af_destination_a:
          type: string
          description: Destination A
        af_destination_b:
          type: string
          description: Destination B
        af_description:
          type: string
          description: Description of the event
        af_class:
          type: string
          description: Class of the event
        af_event_start:
          type: string
          description: Event start time
        af_event_end:
          type: string
          description: Event end time
        af_lat:
          type: string
          description: Latitude of the location
        af_long:
          type: string
          description: Longitude of the location
        af_customer_user_id:
          type: string
          description: Customer user ID
        af_validated:
          type: boolean
          description: Indicates if the event was validated
        af_revenue:
          type: number
          format: float
          description: Revenue generated
        af_projected_revenue:
          type: number
          format: float
          description: Projected revenue
        af_receipt_id:
          type: string
          description: Receipt ID
        af_tutorial_id:
          type: string
          description: Tutorial ID
        af_virtual_currency_name:
          type: string
          description: Virtual currency name
        af_deep_link:
          type: string
          description: Deep link URL
        af_old_version:
          type: string
          description: Old version of the app
        af_new_version:
          type: string
          description: New version of the app
        af_review_text:
          type: string
          description: Review text
        af_coupon_code:
          type: string
          description: Coupon code
        af_order_id:
          type: string
          description: Order ID
        af_param_1:
          type: string
          description: Parameter 1
        af_param_2:
          type: string
          description: Parameter 2
        af_param_3:
          type: string
          description: Parameter 3
        af_param_4:
          type: string
          description: Parameter 4
        af_param_5:
          type: string
          description: Parameter 5
        af_param_6:
          type: string
          description: Parameter 6
        af_param_7:
          type: string
          description: Parameter 7
        af_param_8:
          type: string
          description: Parameter 8
        af_param_9:
          type: string
          description: Parameter 9
        af_param_10:
          type: string
          description: Parameter 10
        af_departing_departure_date:
          type: string
          description: Departing departure date
        af_returning_departure_date:
          type: string
          description: Returning departure date
        af_destination_list:
          type: array
          items:
            type: string
          description: List of destinations
        af_city:
          type: string
          description: City
        af_region:
          type: string
          description: Region
        af_country:
          type: string
          description: Country
        af_departing_arrival_date:
          type: string
          description: Departing arrival date
        af_returning_arrival_date:
          type: string
          description: Returning arrival date
        af_suggested_destinations:
          type: array
          items:
            type: string
          description: List of suggested destinations
        af_travel_start:
          type: string
          description: Travel start date
        af_travel_end:
          type: string
          description: Travel end date
        af_num_adults:
          type: string
          description: Number of adults
        af_num_children:
          type: string
          description: Number of children
        af_num_infants:
          type: string
          description: Number of infants
        af_suggested_hotels:
          type: array
          items:
            type: string
          description: List of suggested hotels
        af_user_score:
          type: string
          description: User score
        af_hotel_score:
          type: string
          description: Hotel score
        af_purchase_currency:
          type: string
          description: Purchase currency
        af_preferred_neighborhoods:
          type: array
          items:
            type: string
          description: Preferred neighborhoods
        af_preferred_num_stops:
          type: string
          description: Preferred number of stops
        af_adrev_ad_type:
          type: string
          description: Ad revenue ad type
        af_adrev_network_name:
          type: string
          description: Ad revenue network name
        af_adrev_placement_id:
          type: string
          description: Ad revenue placement ID
        af_adrev_ad_size:
          type: string
          description: Ad revenue ad size
        af_adrev_mediated_network_name:
          type: string
          description: Ad revenue mediated network name
        af_preferred_price_range:
          type: object
          properties:
            min:
              type: string
            max:
              type: integer
          description: Preferred price range
        af_preferred_star_ratings:
          type: object
          properties:
            min:
              type: string
            max:
              type: integer
          description: Preferred star ratings
      additionalProperties: false
      description: Object containing any combination of event parameters
    ConsentData:
      type: object
      properties:
        consent_data:
          oneOf:
            - $ref: '#/components/schemas/TCF'
            - $ref: '#/components/schemas/Manual'
      required:
        - consent_data
    TCF:
      title: TCF
      type: object
      properties:
        tcf:
          type: object
          properties:
            policy_version:
              type: integer
              example: 4
            cmp_sdk_id:
              type: integer
              example: 300
            cmp_sdk_version:
              type: integer
              example: 2
            gdpr_applies:
              type: integer
              enum: [0, 1]
              description: Indicates whether GDPR applies (0 for no, 1 for yes)
            tcstring:
              type: string
              example: "XXXXXXXX"
          # required:
          #   - policy_version
          #   - cmp_sdk_id
          #   - cmp_sdk_version
          #   - gdpr_applies
          #   - tcstring
    Manual:
      title: Manual
      type: object
      properties:
        manual:
          type: object
          properties:
            gdpr_applies:
              type: string
              enum:
                - ""
                - true
                - false
            ad_user_data_enabled:
              type: string
              enum:
                - ""
                - true
                - false
            ad_personalization_enabled:
              type: string
              enum:
                - ""
                - true
                - false
          required:
            - gdpr_applies
            - ad_user_data_enabled
            - ad_personalization_enabled
      

